@import url("./AnimatedStyleBackground.css");

html {
  min-height: 100%;
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  z-index: 10;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

body {
  margin: 0 auto;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-family: "Open Sans";
}

.visibility {
  visibility: hidden;
}

#root {
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

input {
  font-size: 30px;
  border-radius: 11px;
  border-width: 1px;
  color: #000;
  background-color: #fff;
  margin: 0 20px 0 20px;
}

header {
  background-color: #2c2c2c;
  position: relative;
  z-index: 15;
}

header .wrapper {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  height: 10vh;
}

header h1 {
  width: 100%;
  letter-spacing: 5px;
  font-size: 50px;
  margin: auto 0 auto 80px;
}

header a:hover {
  border-bottom: 2px solid #da6a09;
}
header nav {
  width: 100%;
  margin: auto 80px auto 0;
  font-size: 20px;
}

header h1 {
  color: #da6a09;
}

header nav ul {
  width: 100%;
  text-align: right;
  margin: auto;
}

header nav ul li {
  padding: 5px;
  display: inline;
}

.register__form {
  margin: 0 auto;
  width: 100%;
  font-size: 50px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.register__form label span {
  display: block;
}

.register__form button {
  display: block;
  margin: 0 auto;
}

.register__form input:focus {
  border-color: rgb(57 68 188);
}

.register__form input::placeholder {
  color: #dddddd;
}

.register__form button {
  font-size: 30px;
  margin-top: 50px;
  padding: 5px 90px 5px 90px;
  background-color: rgb(57 68 188);
  color: #fff;
  border-radius: 20px;
  border: 0px;
  cursor: pointer;
}

.register__form button:hover {
  background-color: rgb(67 78 198);
}
.register__wrapper {
  position: relative;
  z-index: 15;
  display: flex;
  width: 400px;
  flex-direction: column;
  margin: 100px auto 100px auto;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 30px;
}
.register__wrapper a {
  color: -webkit-link;
}

.register__wrapper h2 {
  margin-top: 20px;
}

.register__form label {
  display: flex;
  flex-direction: column;
}

.dashboard__wrapper {
  position: relative;
  height: 80vh;
  z-index: 15;
  padding: 0 20px 0 20px;
  background-color: #fff;
}

.dashboard__panel {
  display: flex;
  height: 100%;
}

.dashboard__workflow__wrapper {
  width: 100%;
}

.dashboard__notes__wrapper {
  padding: 0 10px 0 10px;
  margin: 0 10px 0 10px;
  width: 100%;
  background-color: #e3e3e3;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.note__button__addNew {
  width: 70px;
  height: 70px;
}

.note__wrapper {
  padding: 5px;
  box-shadow: 0 0 3px dimgray;
  margin: 10px;
  background-color: #fff;
  height: fit-content;
}

.note__wrapper:hover {
  cursor: pointer;
  box-shadow: 0 0 7px dimgray;
}

.note {
  height: 100%;
}

.note button {
  visibility: hidden;
}

.note__content {
  display: flex;
  flex-direction: column;
  height: 190px;
  width: 190px;
}

.note__content h3 {
  font-size: 16px;
  height: 30%;
  word-break: break-word;
  white-space: wrap;
  overflow-y: auto;
}
.note__content p {
  font-size: 14px;
  height: 70%;
  overflow-y: auto;
  margin-top: 5px;
  white-space: wrap;
  word-break: break-word;
}
.note__content textarea {
  resize: none;
  margin: 5px;
}

.note__content textarea:nth-child(1) {
  height: 25px;
}

.note__content textarea:nth-child(2) {
  height: 100%;
  overflow-y: auto;
}

.dashboard__list {
  background-color: #fff;
  width: 20%;
  min-width: 20%;
}

.dashboard__list input {
  width: 80%;
  margin: 5% auto 5% auto;
}

.dashboard__list li {
  margin-top: 5px;
  white-space: nowrap;
}

.dashboard__list ul {
  overflow-x: hidden;
  overflow-y: auto;
  height: 90%;
}

.dashboard__list li:hover {
  cursor: pointer;
  font-weight: bold;
}

.noteListChoosen {
  font-weight: bold;
}

.openedClass {
  position: absolute;
  z-index: 25;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.openedClass button {
  visibility: visible !important;
}

.noAccess {
  position: relative;
  z-index: 25 !important;
  height: 80vh;
  background-color: #3c3c3c;
}

.noAccess p {
  padding: 50px 10px 50px 10px;
  font-size: 40px;
}

.noAccess a:hover {
  border-bottom: 1px solid #dddddd;
}

.wrapper__dashboard {
  z-index: 15;
  background-color: #fff;
  position: relative;
}

.main__wrapper {
  position: relative;
  z-index: 15;
  background-color: #fff;
}

/* footer */

footer {
  position: fixed;
  z-index: 15;
  height: 10vh;
  background-color: #2c2c2c;
  bottom: 0;
  width: 100%;
}

.footer .wrapper {
  display: flex;
  bottom: 0px;
  justify-content: space-between;
  align-items: center;
}

.footer__left {
  margin: auto 0 auto 80px;
}

.footer__right {
  margin: auto 80px auto 0;
}

.footer__stack {
  color: #fff;
}

.contact h3 {
  color: #fff;
}

footer a {
  display: block;
  color: #4493f8;
}

footer a:hover {
  color: #1193d1;
}
